html {
  font-optical-sizing: auto;
  font-style: normal;
  scroll-behavior: smooth;
  scroll-padding: 80px;

  color: var(--black);

  min-height: 100dvh;

  margin: auto;

  position: relative;
  background: var(--white);
  min-width: 375px;
}

/** Textos */

.title {
  font-size: 32px;
  font-weight: bold;
  line-height: 32px;
}

.subtitle {
  font-size: 24px;
  font-weight: 500;
}

.paragraph {
  font-size: 16px;
  font-weight: 400;
}

.text-primary {
  color: var(--primary);
}

h2 {
  text-align: center;
}

iconify-icon {
  font-size: 24px;
  line-height: 24px;
}

/** Espaciados */

.p-section {
  padding: 16px;
  min-width: 375px;
  max-width: 1900px;
  margin-left: auto;
  margin-right: auto;
}

/** Botones */

.btn {
  text-align: center;
  height: 32px;
  border-radius: var(--round);
  font-weight: 600;
  font-size: 16px;
  transition: all 0.3s ease;
  padding: 0 16px;
}

.btn:hover {
  opacity: 0.8;
}

.btn.btn-black {
  background: var(--black);
  color: var(--white);
}

.btn.btn-primary {
  background: var(--primary);
  color: var(--black);
}

.btn.btn-danger {
  background: var(--danger);
  color: var(--white);
}

.btn.btn-icon {
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

& .icon-container {
  background: var(--black);
  color: var(--primary);
  border-radius: 50%;
  transition: all 0.3s ease;
  align-self: flex-start;
  width: 36px;
  height: 36px;
  padding: 6px;
}

/** Header y menu */
header {
  background: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);

  & img {
    width: 48px;
    aspect-ratio: 1 / 1;
  }

  & nav {
    display: none;

    & ul {
      display: flex;
      gap: 8px;
    }

    & li {
      height: 32px;
      padding: 0 8px;
      display: flex;
      align-items: center;
      transition: all 0.3s ease;
      border-bottom: 2px solid transparent;
      font-weight: 600;
    }

    & li:hover {
      border-bottom: 2px solid var(--primary);
    }
  }

  & .menu-right {
    display: flex;
    gap: 16px;
    align-items: center;
  }
}

/** Inicio */
#start {
  background-image: url(../images/title-bg-sm.webp);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;

  & > .p-section {
    padding-top: 48px;
    padding-bottom: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    animation: fadeInUp 1s;

    & > * {
      z-index: 1;
    }

    & .title-container {
      display: flex;
      flex-direction: column;
      gap: 16px;
      color: var(--white);

      & h1 {
        font-size: 40px;
        font-weight: 900;
        line-height: 40px;
      }

      & p {
        font-weight: 500;
      }
    }

    & .separator-container {
      display: flex;
      justify-content: center;
      gap: 16px;
      color: var(--white);
    }

    & .dish-container {
      display: flex;
      flex-direction: column;
      gap: 16px;

      & .dish-name {
        display: flex;
        justify-content: space-between;

        background: var(--black);
        padding: 4px 8px;
        border-top-left-radius: var(--round);
        border-top-right-radius: var(--round);
        color: var(--white);

        & h4 {
          font-weight: bold;
        }

        & span {
          font-weight: 500;
        }
      }

      & .img-container {
        position: relative;

        & .day-dish {
          position: absolute;
          bottom: 0;
          background-color: var(--secondary);
          color: var(--white);
          padding: 4px 8px;
          font-size: 12px;
          font-weight: bold;
          border-bottom-left-radius: var(--round);
          border-top-right-radius: var(--round);

          & > * {
            animation: pulse infinite 2s;
          }
        }
      }

      & img {
        border-bottom-left-radius: var(--round);
        border-bottom-right-radius: var(--round);
      }
    }
  }
}

#start::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

/** Sobre nosotros */

#about {
  margin-top: 32px;

  & > div {
    display: grid;
    align-items: center;
    margin-top: 32px;
    gap: 32px;

    & .img-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;

      & img {
        width: 160px;
        height: 160px;
        margin: auto;
      }

      & p {
        text-align: center;
        width: 300px;
      }
    }

    & ul {
      display: flex;
      flex-direction: column;
      gap: 16px;

      & li {
        display: flex;
        gap: 16px;

        & h3 {
          font-size: 20px;
          font-weight: bold;
          line-height: 20px;
          padding-top: 8px;
          padding-bottom: 8px;
        }
      }

      & li:hover {
        & .icon-container {
          background: var(--primary);
          color: var(--black);
        }
      }
    }
  }
}

/** Menú  */

#menu {
  margin-top: 32px;

  & .menu-separator {
    margin-top: 24px;
    margin-bottom: 12px;
    border-bottom: 1px solid var(--black);
    display: flex;
    align-items: center;
    gap: 8px;
  }
}

 /** Quantity selector  */

 .quantity-selector {
  display: none;
  align-items: center;

  --size: 32px;

  & span {
    width: 48px;
    background: var(--light);
    display: grid;
    place-content: center;
    height: var(--size);
  }

  & button {
    background-color: var(--primary);
    height: var(--size);
    width: var(--size);
    font-size: 18px;
    display: grid;
    place-content: center;
    transition: all 0.3s ease;
  }

  & button:hover {
    opacity: 0.75;
  }

  & .quantity-left {
    border-top-left-radius: var(--round);
    border-bottom-left-radius: var(--round);
  }

  & .quantity-right {
    border-top-right-radius: var(--round);
    border-bottom-right-radius: var(--round);
  }
}

.dish-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px;
}

.dish-card {
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;

  & img {
    border-top-left-radius: var(--round);
    border-top-right-radius: var(--round);
    width: 100%;
    aspect-ratio: 3 / 2;
    object-fit: cover;
    object-position: center;
  }

  & .dish-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 8px;
    gap: 8px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);

    border-bottom-left-radius: var(--round);
    border-bottom-right-radius: var(--round);

    & h3 {
      font-size: 20px;
      line-height: 20px;
      font-weight: 600;
    }

    & p {
      flex: 1;
      color: var(--gray);
      overflow: hidden;
      text-overflow: ellipsis;
      max-height: 48px;
    }

    & .dish-footer {
      padding-top: 8px;
      border-top: 1px solid #e8e8e8;
      display: flex;
      justify-content: space-between;
      align-items: center;
      & span {
        font-weight: bold;
        font-size: 20px;
      }
    }
  }

  & .dish-card:hover {
    transform: scale(1.05);
  }
 
}

.dish-card.with-quantity {

  & .quantity-selector {
    display: flex;
  }

  & .add-to-cart {
    display: none;
  }
}

.dish-card:hover {
  transform: scale(1.01);
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  border-radius: var(--round);
}

/** Testimonios */
#testimonials {
  margin-top: 32px;
  text-align: center;

  & .testimonial-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;

    & .testimonial {
      max-width: 600px;
      background-color: var(--white);
      border-radius: var(--round);
      padding: 24px;
      box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: column;
      gap: 16px;
      align-items: center;

      & img {
        width: 120px;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        object-fit: cover;
      }

      & .testimonial-quote {
        display: flex;
        align-items: center;
      }

      & .testimonial-author {
        margin-top: 8px;
        font-weight: bold;
      }
    }
  }
}

/** Contacto */
#contact {
  margin-top: 32px;
  margin-bottom: 64px;

  & .contact-info {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 32px;
    margin-top: 32px;
  }

  & .contact-item {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  & .contact-item:hover {
    & .icon-container {
      background: var(--primary);
      color: var(--black);
    }
  }

  & .contact-form {
    max-width: 600px;
    margin: 0 auto;

    & form {
      display: flex;
      flex-direction: column;
    }

    & label {
      font-weight: bold;
      margin-bottom: 4px;
    }

    & input,
    textarea {
      padding: 8px;
      border: 0.5px solid var(--gray);
      margin-bottom: 16px;
      border-radius: var(--round);
    }

    /* & button {
      align-self: flex-start;
    } */
  }
}

/** Footer */
footer {
  background-color: var(--black);
  color: var(--white);
  text-align: center;

  & .footer-container {
    display: flex;
    flex-direction: column;
    padding-top: 32px;
    padding-bottom: 32px;
    gap: 32px;
  }

  & .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;

    & p {
      max-width: 600px;
    }
  }

  & .footer-info {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  & .footer-sections {
    & ul {
      display: flex;
      flex-direction: column;
    }

    & li {
      padding: 8px;
    }

    & a {
      color: var(--white);
      transition: color 0.3s ease;
    }

    & a:hover {
      color: var(--primary);
    }
  }

  & h3 {
    margin-bottom: 16px;
  }

  & .footer-contact {
    display: flex;
    flex-direction: column;
    font-size: 14px;

    & iconify-icon {
      font-size: 16px;
      color: var(--primary);
    }

    & p {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
      padding: 8px;
    }
  }
}

& .copyright {
  background: var(--primary);

  & > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
  }
}

/** CART */

#cart-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  z-index: 1000;

  & span {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: var(--secondary);
    color: white;
    border-radius: 50%;
    font-size: 12px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* Cart menu styles */
#cart-menu {
  position: fixed;
  top: 0;
  right: -400px; /* Hidden by default */
  width: 400px;
  height: 100%;
  background-color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  transition: right 0.3s ease-in-out;
  z-index: 999;
  padding: 20px;
  overflow-y: auto;

  & h2 {
    margin-top: 0;
    font-size: 32px;
    font-weight: bold;
    color: var(--black);
  }
}

#cart-menu.open {
  right: 0; /* Show the menu */
}

#cart-items {
  list-style: none;
  padding: 0;
  margin: 20px 0;

  & img {
    width: 64px;
    height: 64px;
    object-fit: cover;
    object-position: center;
    border-radius: var(--round);
    border: 1px solid #ddd;
  }

  & h4 {
    font-size: 16px;
    font-weight: bold;
  }

  & span {
    color: var(--gray);
  }

  & li {
    display: flex;
    padding: 10px 0;
    gap: 8px;
    border-bottom: 1px solid #ddd;
  }

  & li:last-child {
    border-bottom: none;
  }
}

#cart-total {
  font-weight: bold;
  margin: 20px 0;
  font-size: 18px;
}

/** Backdrop  */

.backdrop-cart {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 990;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.backdrop-cart.open {
  opacity: 1;
  visibility: visible;
}
